{% extends 'basic_app/base.html' %}
{% block body_block %}

    <link href="../../static/CSS/home.css" rel="stylesheet">
    <link href="../../static/CSS/intlTelInput.css" rel="stylesheet">
    <link href="../../static/CSS/lib.min.css" rel="stylesheet">

<div class="container">
<section class="snippetSection">
<div class="container">
<h2>Apartment Management System: How does it work for serviced apartments?</h2>
<p>An apartment management system is designed to simplify the daily operations of serviced apartments, boutique hotels and aparthotels. With the help of apartment system, one can manage and track all functions associated with the properties including collecting rent, managing reservations, room allocation, handling meal plans and tariffs, long-termed stays, and even apartment maintenance from a single place.</p>
</div>
</section>
<div class="container">
<section class="snippetSection">
<h1>How does our apartment management software benefit you?</h1>
    <p class="subttl">Your search ends here. Get everything of your serviced apartments handled with Casa Alliance's apartment management software. We give all that you need to take your business to the next level. </p></section>
<div class="row">
<div class="single-feature">
<div class="col-md-4 col-xs-12 col-sm-4 fleft">
<div class="iconimg"><img src="../../media/single-mill.png" alt="Run everything from a single mill"></div>
</div>
<div class="col-md-8 col-xs-12 col-sm-8 fright">
<div class="icon rightalign">
<h3 class="feature-header">Run everything from a single mill</h3>
<p class="single-description">Whether your apartments are scattered or are oriented all at a place, you can manage all of them from a single median with the help of our apartment software.</p>
</div>
</div>
</div>
<div class="single-feature">
<div class="col-md-4 col-xs-12 col-sm-4 fright">
<div class="iconimg"><img src="../../media/center-reservations.png" alt="Handle all your reservation from a single place"></div>
</div>
<div class="col-md-8 col-xs-12 col-sm-8">
<div class="icon">
<h3 class="feature-header">Handle all your reservation from a single place</h3>
<p class="single-description">With the help of our apartment management software direct the surge of reservations of all your apartments from your website, and other platforms at one place by centralising the control of reservation system.</p>
</div>
</div>
</div>
<div class="single-feature">
<div class="col-md-4 col-xs-12 col-sm-4 fleft">
<div class="iconimg"><img src="../../media/apt_manage_stay.png" alt="Long-term stays are easily managed"></div>
</div>
<div class="col-md-8 col-xs-12 col-sm-8 fright">
<div class="icon rightalign">
<h3 class="feature-header">Long-term stays are easily managed</h3>
<p class="single-description">We know you get guests who stay for months at a stretch. Handle those and any termed stays effortlessly besides those folio cuts that your guests demand, with eZee’s apartment management system.</p>
</div>
</div>
</div>
<div class="single-feature">
<div class="col-md-4 col-xs-12 col-sm-4 fright">
<div class="iconimg"><img src="../../media/apt_manage_room.png" alt="Your connected rooms get smoothly handled"></div>
</div>
<div class="col-md-8 col-xs-12 col-sm-8">
<div class="icon">
<h3 class="feature-header">Your connected rooms get smoothly handled</h3>
<p class="single-description">Manage family or group bookings of your serviced apartments through the robust suite-child, a.k.a connected rooms feature of eZee’s apartment management software.</p>
</div>
</div>
</div>
<div class="single-feature">
<div class="col-md-4 col-xs-12 col-sm-4 fleft">
<div class="iconimg"><img src="../../media/mock-room.png" alt="Let a mock room do the real work"></div>
</div>
<div class="col-md-8 col-xs-12 col-sm-8 fright">
<div class="icon rightalign">
<h3 class="feature-header">Let a mock room do the real work</h3>
<p class="single-description">Our apartment management software will get a two fold hike in your billing process by letting you add a paymaster room in your list. These paymaster rooms can even help you in making accurate calculations of your extra expenses.</p>
</div>
</div>
</div>
<div class="single-feature">
<div class="col-md-4 col-xs-12 col-sm-4 fright">
<div class="iconimg"><img src="../../media/accept-bills.png" alt="Accept bills from companies and credit their sales"></div>
</div>
<div class="col-md-8 col-xs-12 col-sm-8">
<div class="icon">
<h3 class="feature-header">Accept bills from companies and credit their sales</h3>
<p class="single-description">Go beyond to maintain a city ledger account. Also, with the help of eZee apartment software, manage the settlements in either way whether via cash, debit or credit card.</p>
</div>
</div>
</div>
<div class="single-feature">
<div class="col-md-4 col-xs-12 col-sm-4 fleft">
<div class="iconimg"><img src="../../media/tariffs.png" alt="Map your tariffs with varying meal plans"></div>
</div>
<div class="col-md-8 col-xs-12 col-sm-8 fright">
<div class="icon rightalign">
<h3 class="feature-header">Map your tariffs with varying meal plans</h3>
<p class="single-description">You may receive guests that keep changing their meal and rate plans. With our apartment management software, you can always manage your tariffs precisely and can easily carter to those guests the way they want.</p>
</div>
</div>
</div>
<div class="single-feature">
<div class="col-md-4 col-xs-12 col-sm-4 fright">
<div class="iconimg"><img src="../../media/travel-agent.png" alt="All your travel agent accounts get lined up"></div>
</div>
<div class="col-md-8 col-xs-12 col-sm-8">
<div class="icon">
<h3 class="feature-header">All your travel agent accounts get lined up</h3>
<p class="single-description">Save your time by keeping a track of all your travel agents’ logs and handle their shebangs from one place with the help of apartment management system.</p>
</div>
</div>
</div>
<div class="single-feature">
<div class="col-md-4 col-xs-12 col-sm-4 fleft">
<div class="iconimg"><img src="../../media/secure.png" alt="A serviced apartment system that keeps a check"></div>
</div>
<div class="col-md-8 col-xs-12 col-sm-8 fright">
<div class="icon rightalign">
<h3 class="feature-header">A serviced apartment system that keeps a check</h3>
<p class="single-description">We’ve got an apartment software that enables you to ensure the security of your apartment networks by generating, linking and operating all your key cards at a single end.</p>
</div>
</div>
</div>
<div class="single-feature">
<div class="col-md-4 col-xs-12 col-sm-4 fright">
<div class="iconimg"><img src="../../media/apt_yield_management.png" alt="You yield maximum with flexible rates"></div>
</div>
<div class="col-md-8 col-xs-12 col-sm-8">
<div class="icon">
<h3 class="feature-header">You yield maximum with flexible rates</h3>
<p class="single-description">Versatile guests are a part of your daily routine. The apartment management system lets you have contract rates, company rates and more; which make your sales go up.</p>
</div>
</div>
</div>
<div class="single-feature">
<div class="col-md-4 col-xs-12 col-sm-4 fleft">
<div class="iconimg"><img src="../../media/booking-pole.png" alt="You’re backed by unlimited direct bookings"></div>
</div>
<div class="col-md-8 col-xs-12 col-sm-8 fright">
<div class="icon rightalign">
<h3 class="feature-header">You’re backed by unlimited direct bookings</h3>
<p class="single-description">Get sure shot direct bookings, offer countless deals, upsell amenities and other booking counter operations right from one core with the help of our serviced apartment management software.</p>
</div>
</div>
</div>
<div class="single-feature">
<div class="col-md-4 col-xs-12 col-sm-4 fright">
<div class="iconimg"><img src="../../media/nitty-gritty.png" alt="You get your business insights in one click"></div>
</div>
<div class="col-md-8 col-xs-12 col-sm-8">
<div class="icon">
<h3 class="feature-header">You get your business insights in one click</h3>
<p class="single-description">Fetch accurate eye catching reports to have an insight of the different operations and outcomes of your apartments at a single click, right at your fingertips.</p>
</div>
</div>
</div>
<div class="single-feature">
<div class="col-md-4 col-xs-12 col-sm-4 fleft">
<div class="iconimg"><img src="../../media/apt_handle_service.png" alt="Run all your services from a single place"></div>
</div>
<div class="col-md-8 col-xs-12 col-sm-8 fright">
<div class="icon rightalign">
<h3 class="feature-header">Run all your services from a single place</h3>
<p class="single-description">Serviced apartments like yours have several things to offer. Gym, kitchenettes, meeting spaces, laundry services; you can handle all your services from a single place with apartment software.</p>
</div>
</div>
</div>
<div class="single-feature">
<div class="col-md-4 col-xs-12 col-sm-4 fright">
<div class="iconimg"><img src="../../media/apt_low_cost.png" alt="Your expenses are cut down"></div>
</div>
<div class="col-md-8 col-xs-12 col-sm-8">
<div class="icon">
<h3 class="feature-header">Your expenses are cut down</h3>
<p class="single-description">Your operations get completely automated with eZee apartment software. So your expenses on getting any task done manually reduce, and you experience minimal errors.</p>
</div>
</div>
</div>
<div class="single-feature">
<div class="col-md-4 col-xs-12 col-sm-4 fleft">
<div class="iconimg"><img src="../../media/apt_apartment_maintance.png" alt="Your apartment maintenance gets easier"></div>
</div>
<div class="col-md-8 col-xs-12 col-sm-8 fright">
<div class="icon rightalign">
<h3 class="feature-header">Your apartment maintenance gets easier</h3>
<p class="single-description">How do you oversee your apartment maintenance? However you do it; the housekeeping module will make it a a lot easier for you to keep track of maids and status.</p>
</div>
</div>
</div>




{% endblock %}