{% extends 'basic_app/base.html' %}

{% block body_block %}

    <li><a href="{% url 'basic_app:directory' %}">Direcotry</a></li>

    <table class = "table table-striped">
      <thead>
        <tr>
            <th>Designation</th>
            <th>Name</th>
            <th>Flat</th>
            <th>Contact</th>
        </tr>
      </thead>
    <tbody>
    {% if list %}
    {% for k in list %}
      <tr>
      <td>{{ k.designation }}</td>
      <td>{{ k.name }}</td>
        <td>{{ k.flat }}</td>
        <td>{{ k.contact }}</td>
      </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>

{% endblock %}

